body{
  padding:0px;
  margin:0px;
  font-family: var(--defaultFontFamily);
}
button{
  cursor:pointer;
}
:root{
  --darkBlueDarkMode: hsl(209, 23%, 22%);
  --veryDarkBlueDarkModeBg: hsl(207, 26%, 17%);
  --verydarkblueDarkModeText: hsl(200, 15%, 8%);
  --darkGreyLightModeInput: hsl(0, 0%, 52%);
  --veryLightDarkGreyLightModeInput: hsl(0, 0%, 74%);
  --veryLightBlueLightModeBg:hsl(0, 0%, 98%);
  --whiteDarkModeText: hsl(0, 0%, 100%);
  --homePageFontSize: 14px;
  --detailPagefontSize:16px ;
  --defaultFontFamily: 'Nunito Sans', sans-serif;
  --defaultFontWeight:300;
  --boldFontWeight:600;
  --bolderFontWeight:800;

}
.headerWrapper{
  background-color: var(--whiteDarkModeText);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:6vh 15vh;
  position: relative;
  z-index: 10;
  box-shadow: 0px 1px 10px 0.1px var(--veryLightDarkGreyLightModeInput);
  /* border-bottom: 1px solid var(--veryLightDarkGreyLightModeInput); */
}
.headerTitle{
  font-weight: var(--bolderFontWeight);
  color:var(--verydarkblueDarkModeText);
  font-size:18px;
}
.themeButton{
  background-color: transparent;
  border:none;
  font-weight: var(--boldFontWeight);
  color:var(--verydarkblueDarkModeText);
  display: flex;
  align-items: center;
}
.themeButtonIcon{
  margin-right: 7px;
  font-size: 16px;
  transform: rotate(-20deg);
}
.landingWrapper{
  padding:10vh 15vh;
  background-color: var(--veryLightBlueLightModeBg);
}
.svg-icon.search-icon {
  display: inline-block;
  width: 20px;
}
.inputWrapper{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteDarkModeText);
  padding:15px;
  /* border:1px solid var(--veryLightDarkGreyLightModeInput); */
  border-radius: 2px;
  box-shadow: 0px 1px 10px 0.1px var(--veryLightDarkGreyLightModeInput);
}
.inputElem{
  width:90%;
  outline:none;
  border:none;
  padding:0px 0px 4px 15px;
}
.filtersWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropbutton {
  background-color: var(--whiteDarkModeText);
  color: var(--verydarkblueDarkModeText);
  padding: 16px;
  padding-right:25px;
  font-size: var(--homePageFontSize);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  box-shadow: 0px 0px 4px 0.1px var(--veryLightDarkGreyLightModeInput);
}
.dropdownIcon{
  margin-top:-3%;
  right: 12px;
  position: absolute;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:5px;
  border-radius: 7px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  width:100%;
  border:none;
  text-align: left;
}

.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: var(--veryLightDarkGreyLightModeInput);
}
.dataWrapper{
    display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: red;
  height:100%;
  width:100%;
}